@import './colors.scss';
//------- Table Header




.table_header_wrap {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid $dark_color;
}

.table_header_item_id {
    width: 10%;
}

.table_header_item {
    width: 18%;
    // width: 17%;
    // margin-right: 5px;
}

.header_item {
    color: $dark_color;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.44px;
}

.header_item_status{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table_item_manage_wrap{
    width: 20%;
}

//--------- Table Item

.table_item_wrap {
    display: flex;
    position: relative;
    .edit_icon{
        position: absolute;
        left: 0;
        cursor: pointer;
        svg{
            fill: $dark_color;
            transition: all 0.3s ease-in-out;
        }
        &:hover{
            svg{
                fill: $orange_color;
            }
        }
    }
}

.table_item {
    display: flex;

    min-height: 50px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $dark_color;
    svg{
        height: 20px;
        width: 20px;
        color: $dark_color;
        transition: all 0.3s ease-in-out;
        &:hover{
             fill: $orange_color;
        }
    }

}

.table_item_edit{
    position: relative;
    &:hover{
        &::after{
            content: 'Редагувати';
            position: absolute;
            display: flex;
            justify-content: center;
            border-radius: 8px;
            left: -37px;
            top: -21px;
            width: 100px;
            height: 20px;
            border: 1px solid $dark_color;
            background: $white_color;
            color: $orange_color;
        }
    }
}
.table_item_copy{
    position: relative;
    &:hover{
        &::after{
            content: 'Копіювати';
            position: absolute;
            display: flex;
            justify-content: center;
            border-radius: 8px;
            left: -37px;
            top: -21px;
            width: 100px;
            height: 20px;
            border: 1px solid $dark_color;
            background: $white_color;
            color: $orange_color;
        }
    }
}

.table_item_order{
    position: relative;
    &:hover{
        &::after{
            content: 'В замовлення';
            position: absolute;
            display: flex;
            justify-content: center;
            border-radius: 8px;
            left: -37px;
            top: -21px;
            width: 100px;
            height: 20px;
            border: 1px solid $dark_color;
            background: $white_color;
            color: $orange_color;
        }
    }
}


.table_item_manager{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 80%;
    width: 100%;
    background-color: $dark_color;
}